@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@font-face {
  font-family: "dogica";
  src: url("../Fonts/dogica.otf");
}

@font-face {
  font-family: "lemonMilk_light";
  src: url("../Fonts/LEMONMILK-Light.otf");
}

body {
  background-image: url("/GIF/galaxy-pixel-art.gif");
  background-size: cover;
  background-position: center-left;
  background-repeat: repeat;
  height: 90vh;
  padding: 0;
  margin: 0;
}
h1 {
  padding-top: 150px;
  color: #6666ff;
  text-align: center;
  font-size: 30px;
  font-family: "dogica";
}
.titles {
  padding-top: 30px;
  padding-left: 20px;
  color: #cc99ff;
  text-align: left;
  font-size: 30px;
  font-family: "lemonMilk_light";
}
#first {
  color: #e9d6b8;
  text-align: left;
  font-size: 24px;
  font-family: "lemonMilk_light";
}
