@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

@font-face {
  font-family: "lemonMilk_light";
  src: url("../Fonts/LEMONMILK-Light.otf");
}
body {
  height: 10vh;
  width: 500px;
  padding: 0;
  margin: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

#info {
  font-family: "lemonMilk_light";
  font-size: 18px;
  color: #fff;
}
